html { 
    background-image: linear-gradient(to bottom right, rgb(105, 212, 105), forestgreen);
    font-family: 'Poiret One', cursive;
    height: 100vh;
}
header {
    border-radius: 15px;
    font-size: 100px;
    font-weight: bold;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(200, 223, 200), rgb(87, 139, 87));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h1 {
    border-radius: 15px;
    font-size: 60px;
    width: 500px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(200, 223, 200), rgb(87, 139, 87));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h2 {
    border-radius: 15px;
    justify-content: center;
    margin: 0 auto;
    font-size: 30px;
    width: 350px;
    margin-bottom: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(200, 223, 200), rgb(87, 139, 87));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.container {
    background-size: contain;
    height: 200px;
    width: 550px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: gainsboro;
    display: grid;
    border: 5px solid black;
    border-radius: 15px;
    grid-template-columns: 30% 30% 30% 9%;
    column-gap: 1%;   
    background-image: linear-gradient(to bottom right, rgb(200, 223, 200), rgb(87, 139, 87));
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
div {
    background-color: rgb(255, 255, 255);
    padding: 42px;
    border-radius: 15px;
    margin-bottom: 10px;
}
img {
    height: 110px; 
    width: 95px; 
}
#input {
    font-size: large;
    font-family: 'Poiret One', cursive;
    padding: 10px;
    width: 270px;
    height: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#numberBtn {
    margin: 0 auto;
    height: 20px;
    width: 250px;
    border-radius: 15px;
}
button {
    font-family: 'Poiret One', cursive;
    width: 30px;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}