html { 
    background-image: linear-gradient(to bottom right, rgb(105, 212, 105), forestgreen);
    font-family: 'Poiret One', cursive;
}
header {
    font-size: 150px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    font-size: 60px;
    justify-content: center;
    text-align: center;
}
.container {
    background-size: contain;
    height: 200px;
    width: 550px;
    margin: 0 auto;
    background-color: gainsboro;
    display: grid;
    border: 5px solid black;
    border-radius: 15px;
    grid-template-columns: 32% 33% 32%;
    column-gap: 1%;   
}
div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
}
img {
    height: 100px; 
    width: 100px; 
}
#frm1 {
    color: white;
    font-family: 'Poiret One', cursive;
    margin: 0 auto;
}
#input {
    font-family: 'Poiret One', cursive;

}
button {
    font-family: 'Poiret One', cursive;
}